<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} - broklyn-skeleton</title>
    <link rel="stylesheet" href="{{ app.request.basepath }}/themes/master/assets/css/style.css">
    <script type="text/javascript" src="{{ app.request.basepath }}/themes/master/assets/js/app.js"></script>
</head>
<body>