{% extends "layout.twig" %}

{% block content %}

    <form method="POST" action="">
        <label for="title">title</label>
        <input id="title" type="text" value="" name="title"/>
        <button type="submit">Submit</button>
    </form>

{% endblock %}